Repository paulbrenker/decision-tsp, changes with the labels that .github/labeler.yml gives for each.
All labels: github-change, code-change, documentation-change, dataset-change, dependency-change

pylint compatibility fileops
  src/fileops/fileops.py
Labels: code-change

make heuristics.py readable
  src/heuristics/__init__.py
  src/heuristics/heuristics.py
Labels: code-change

make regressions.py readable
  src/regressions/regression.py
Labels: code-change

make visualisations.py better readable
  src/visualisations/visualisations.py
Labels: code-change

execution with fixed methods
  heuristics_pipeline.ipynb
  poetry.lock
  pyproject.toml
Labels: code-change, dependency-change

last linter fixes
  .github/workflows/cicd.yml
  src/heuristics/__init__.py
  src/regressions/__init__.py
Labels: github-change, code-change

adjusted training size for set3
  src/visualisations/visualisations.py
Labels: code-change

clean up
  src/visualisations/visualisations.py
Labels: code-change

cleanup
  src/visualisations/__init__.py
Labels: code-change

update jupyter notebook version to 7.0.8
  poetry.lock
Labels: dependency-change

change bin number for histograms
  src/visualisations/visualisations.py
Labels: code-change

remove images from notebooks
  images/equidestributed_heuristics_distribution.png
  images/equidistributed_instance_optimal_tour.png
  images/equidistributed_regression_Decision Tree Regression.png
  images/equidistributed_regression_Multiple Linear Regression.png
  images/equidistributed_regression_Neural Network Regression.png
  images/equidistributed_regression_Support Vector Machine Regression.png
  images/equidistributed_regression_models.png
  images/equidistributed_tourlength_graphsize.png
  images/interpretation_heatmap.png
  images/multi_cluster_heuristics_distribution.png
  images/multi_cluster_instance_optimal_tour.png
  images/multi_cluster_regression_Decision Tree Regression.png
  images/multi_cluster_regression_Multiple Linear Regression.png
  images/multi_cluster_regression_Neural Network Regression.png
  images/multi_cluster_regression_Support Vector Machine Regression.png
  images/multi_cluster_tourlength_graphsize.png
  images/own_algorithm_deviation_distribution.png
  images/own_algorithm_regression_Decision Tree Regression.png
  images/own_algorithm_regression_Multiple Linear Regression.png
  images/own_algorithm_regression_Neural Network Regression.png
  images/own_algorithm_regression_Support Vector Machine Regression.png
  images/own_algorithm_tourlength_graphsize.png
  images/single_cluster_heuristics_distribution.png
  images/single_cluster_instance_optimal_tour.png
  images/single_cluster_regression_Decision Tree Regression.png
  images/single_cluster_regression_Multiple Linear Regression.png
  images/single_cluster_regression_Neural Network Regression.png
  images/single_cluster_regression_Support Vector Machine Regression.png
  images/single_cluster_tourlength_graphsize.png
  pyproject.toml
  src/visualisations/visualisations.py
Labels: code-change, documentation-change, dependency-change

rewrite README
  README.md
  images/tsp_intro_pic.jpg
Labels: documentation-change

add presentation tex and pdf to the repo
  README.md
  presentation/presentation.tex
Labels: documentation-change

fix linter errors
  data_analysis.ipynb
Labels: code-change

fix linter errors again
  data_analysis.ipynb
Labels: code-change

pleaaase linter
  data_analysis.ipynb
Labels: code-change

again
  src/visualisations/visualisations.py
Labels: code-change

.github/labeler.yml:

github-change:
  - '.github/**'
  - '.gitignore'

code-change:
  - 'src/**'
  - '*.ipynb'

documentation-change:
  - 'README.md'
  - 'HELP.md'
  - 'images/**'

dataset-change:
  - 'data/**'

dependency-change:
  - 'poetry.lock'
  - 'pyproject.toml'
